/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
}

div.flex-row {
  min-height: 90px;
  display: flex;
  align-items: center;

  img {
    height: 68px;
  }

  span {
    display: inline-block;
    margin: 0 1.8ch;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.pointer {
  cursor: pointer;
}
